.course-info {
    text-align:center;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Центрирование по вертикали */
    align-items: center; /* Центрирование по горизонтали */
    padding: 20px; /* Отступы внутри блока */
    margin: 20px; /* Отступы снаружи блока */
}
li{list-style-position:inside;}
.block0{
    margin-top: 10px;
    margin-left: 88px;
}
.block1{
    margin-top: 77px;
    margin-left: 88px;
}
.block2{
    margin-top: 150px;
    margin-left: 88px;
}
.block3{
    margin-top: 150px;
    margin-left: 88px;
}
.block4{
    margin-top: 150px;
    margin-left: 88px;
}
.block5{
    margin-top: 65px;
    margin-left: 88px;
}

table {
    text-align: left;
}
th, td {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
}
.stretch{
  background-size: 200px 150px;
}