.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.image-link {
    margin-top: 20px;
    text-align: center;
}
